@model School_Library.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameStudent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameStudent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dayofbirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dayofbirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <a asp-action="Edit" asp-route-id="@Model?.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
