@model IEnumerable<School_Library.Models.Checkin_out>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
               StudentID
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name Student</a>
            </th>
            <th>
                StaffID
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name Staff</a>
            </th>
            <th>
               To
            </th>
            <th>
               From
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                  @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Student.NameStudent)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Staff.StaffID)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.Staff.NameStaff)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                  @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Checkin_outID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Checkin_outID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Checkin_outID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

