@model IEnumerable<School_Library.Models.AuthorBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorID)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.AuthorBookID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AuthorBookID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AuthorBookID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
